.MuiButton-root {
    border: 1px solid black !important;
    border-radius: 20px !important;
    margin: 0px 6px !important;
    color: black !important;
    cursor: pointer !important;
    min-width: 34px !important;
}

.MuiButton-root.selected {
    color: white !important;
}

.top-toolbar button {
    margin: 0 5px
}

.auth-login {
    width: 90px !important;
}